a {
    text-decoration: none;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: navajowhite;
}

main {
    margin: 100px 16vh 16vh;
    padding: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    background-color: white;
}

